<header class="container-fluid" style="padding: 1rem;">
    <div class="d-flex justify-content-center row p-3">
        <img class="profile-img slide-fade-in" src="assets/profile.png">

        <div class="p-4 ml-3 bio-container slide-top-fade-in">
            <p class="header-tag">Founder of Zymb!ot3 - Web Developer</p>
            <h2>Hello, <br> I'm <span style="color: red; text-decoration: underline;">Jesus Diaz</span> 🚀</h2>
            <p class="header-subtitle">Full Stack Developer</p>
            <img class="profile-img-second" src="assets/profile.png">
            <p class="fit-content-small">
                I'm a Full Stack Developer, Graphic Designer, and Computer Technician from Dallas, TX. 
                I've got over two years of experience developing RESTful APIs in ASP.NET and for the 
                UI/UX designs I used Angular or Bootstrap. I've received my Associates Degree as a 
                Software Developer at Brookhaven College and interned at Elite Devz through a coding 
                bootcamp, and later moved to Apex Power Dialer. Now I'm currently interest looking for 
                a Full-Time position as a Software Developer or Web Developer to help build company 
                assets and improve my skills. 
            </p>
            <a routerLink="/about">Learn More ➜</a>
            <br>
            <div class="mt-4 justify-content-center btn-container">
                <button class="custom-btn" (click)="downloadResume()">RESUME </button>
                <button class="custom-btn" routerLink="/contact">HIRE ME </button>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid m-2 p-3 border-top">
    <div class="d-flex justify-content-center row text-center">
        <h1>My Skills</h1>
    </div>
    <div class="d-flex justify-content-center row text-center skill-main-container">
        <div class="col-md-3 m-5 p-5 shadow skill-container">
            <h5>Front-End</h5>

            <p>HTML/HTML5</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%">95%</div>
            </div>
            <br>
            <p>CSS/CSS3, Bootstrap</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%">75%</div>
            </div>
            <br>
            <p>Angular, TypeScript</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%">85%</div>
            </div>
            <br>
            <p>JavaScript, jQuery, JSON</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 78%">78%</div>
            </div>
            <br>
            <p>Web Forms, Window Forms</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 65%">65%</div>
            </div>
            <br>
            <img class="skill-image" src="assets/front-end.png">
        </div>

        <div class="col-md-3 m-5 p-5 shadow skill-container">
            <h5>Back-End</h5>

            <p>C#, ASP.NET, .NET, ADO.NET</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%">90%</div>
            </div>
            <br>
            <p>Web APIs, RESTful APIs, EF Core</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%">85%</div>
            </div>
            <br>
            <p>SQL/T-SQL, Azure, SSMS, MySQL</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:  75%">75%</div>
            </div>
            <br>
            <p>Unit Testing, Docker</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 65%">65%</div>
            </div>
            <br>
            <p>PHP</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%">50%</div>
            </div>
            <img class="skill-image" src="assets/back-end.png">
        </div>

        <div class="col-md-3 m-5 p-5 shadow skill-container">
            <h5>Other</h5>

            <p>Git</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%">75%</div>
            </div>
            <br>
            <p>Linux</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 65%">65%</div>
            </div>
            <br>
            <p>Networking</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%">70%</div>
            </div>
            <br>
            <p>Technician</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 65%">65%</div>
            </div>
            <br>
            <p>Data Science</p>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%">75%</div>
            </div>
            <img class="skill-image" src="assets/other.png">
        </div>
    </div>
</section>

