<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <h1 style="color:red;">Projects</h1>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalBox">
    Project Info
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalBox" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">Project Information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          These projects are not all finished but are currently in development since I'm working on the UI/UX and database connections.
          The projects I've made use local databases and would not function properly when you clone them from my GitHub repo, so 
          I will soon have these databases up and running through a cloud service. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <hr>
      <input type="text" class="m-4" style="width: 40%;" [(ngModel)]="inputSearch" placeholder="search...">
    <br>

    <!--List of Projects-->
    <div class="d-flex md-4">
        <div class="justify-content-center m-3" style="display: block;">
            <div class="modal-container m-2" *ngFor="let category of projectList">
                <div class="shadow p-4 " *ngIf="matchedList(category)">
                    <h3 class="modal-header-title">{{category.name}}</h3>
                    <p>{{category.descrip}}</p>
                    <p><span style="color:red;">Stack Utilized: </span>{{category.stacks}}</p>
                    <a *ngIf="category.url" (click)="visitPage(category.url)" class="icon-image">
                      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="red" class="bi bi-github m-3" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>